{% extends "base.html" %}

{% block content %}

{% if msg == 'success' %}
<div class="alert alert-success">
  <strong>Success!</strong> Team {{ team_name }} is successfully registered.
</div>
{% endif %}

{% if msg == 'error' %}
<div class="alert alert-danger">
  <strong>Error!</strong> Team name {{ team_name }} is already registered.
</div>
{% endif %}

<div class="container">
<h2>Registration Form</h2>
<br>

{% load crispy_forms_tags %}
<form action="/registration/" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Submit" class="btn btn-success">
</form>
</div>
{% endblock %}