{% extends "base.html" %}
{% block content %}
<div class="container">
<style>
table {
    font-family: arial, sans-serif;
    font-weight: 100;
    border-collapse: collapse;
    width: 100%;
    

}

td {
    border: 1px /*solid #dddddd*/;
    text-align: left;
    padding: 8px;
    font-style: normal;
    font-weight: 100;
    
}

th{
    border: 1px /*solid #dddddd*/;
    text-align: left;
    padding: 8px;
    font-style: normal;
    
    
}

tr:nth-child(even) {
    background-color: #dddddd;
    font-weight: 100;
    
}
</style>

<h2>Teams</h2>
<br>
<table>
	<tr>
		<th><b>Team ID</b></th>
		<th>Team Name</th>
		<th>College Name</th>
		<th>Email</th>
		<th>Score</th>
        <th></th>
	</tr>
{% for team in teams %}
	<tr>
		<td>atmos_pf_{{team.pk}}</td>
		<td>{{team.team_name}}</td>
		<td>{{team.college_name}}</td>
		<td>{{team.email}}</td>
		<td>{{team.contest.score}}</td>
        <td><a href="/gameplay/{{team.team_name}}/">Start Gameplay</a></td>
	</tr>
{% endfor %}
</table>
</div>
{% endblock %}